<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027950813955-if73ku39p61av1uqv75f50348ps8mpdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027950813955-if73ku39p61av1uqv75f50348ps8mpdm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1027950813955-0pjn4ke5u5d26ev5p0omijj5d60el40j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDg4mA69Y5hl0oVNDxBrYb1WneNgvpcW2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1027950813955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-9f766</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-9f766.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027950813955:ios:3ca2e4072dbba412eb7f36</string>
</dict>
</plist>